<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %>


  <body>
    <!-- Header -->
    <%- include('./partials/header') %>

      <div class="container-fluid">

        <ul class="slider">
          <li id="slide1">
            <img src="/images/carousel-1.jpg" alt="">


          </li>
          <li id="slide2">
            <img src="/images/carousel-2.jpg" alt="">

          </li>
          <li id="slide3">
            <img src="/images/carousel-3.jpg" alt="">

          </li>
        </ul>

        <ul class="menu">
          <li>
            <a href="#slide1"></a>
          </li>
          <li>
            <a href="#slide2"></a>
          </li>
          <li>
            <a href="#slide3"></a>
          </li>
        </ul>

      </div>
      <main id="primero" class="destacados">

        <h1>Nuestros productos</h1>
        <section class="contenedor">

          <% productos.forEach(producto => {%>      
            <%  %>
              <article>
                <img src="/images/<%= producto.imagen[0].file %>" alt="">
                <h4>
                  <%= producto.title %>
                </h4>
                <p>
                $ <%= producto.price %>
                </p>
                <button class="articulo"><a href="/products/detail/<%= producto.id %>">Más info</a></button>
              </article>          
            
          <%})%>

        </section>

       <!--  <h1>Tambien puede interesarte</h1>
        <section class="contenedor">
          <%# interes.forEach(product=>{%>

            <article>
              <img src="/images/<%#= product.image %>" alt="">
              <h4>
                <%#= product.title %>
              </h4>
              <p>
                $ <%#= product.price %>
              </p>
              <button class="articulo"><a href="/products/detail/<%#= product.id %>">Más info</a></button>
            </article>
            <%# }) %>

        </section>

        <h1>Packs</h1>
        <section class="contenedor">
          <%# packs.forEach(product=>{%>

            <article>
              <img src="/images/<%#= product.image %>" alt="">
              <h4>
                <%#= product.title %>
              </h4>
              <p>
               $ <%#= product.price %>
              </p>
              <button class="articulo"><a href="/products/detail/<%#= product.id %>">Más info</a></button>
            </article>
            <%# }) %>
        </section> -->

      </main>
      <section>
        <img class="info" src="/images/compraonline1.png" alt="">
        <img class="info" src="/images/compraonline2.png" alt="">
        <img class="info" src="/images/compraonline3.png" alt="">
        <img class="info" src="/images/compraonline4.png" alt="">
        <img class="compraonline" src="/images/compraonlinesketch.png" alt="">



      </section>

      <!-- Footer -->

      <%- include('./partials/footer') %>

        <!-- Script -->
        <%- include('./partials/script') %>


  </body>

</html>