<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('./partials/head') %>


  <body>
    <!-- Header -->
    <%- include('./partials/header') %>

      <div class="container-fluid">

        <ul class="slider">
          <li id="slide1">
            <img src="/images/carousel-1.jpg" alt="">


          </li>
          <li id="slide2">
            <img src="/images/carousel-2.jpg" alt="">

          </li>
          <li id="slide3">
            <img src="/images/carousel-3.jpg" alt="">

          </li>
        </ul>

        <ul class="menu">
          <li>
            <a href="#slide1"></a>
          </li>
          <li>
            <a href="#slide2"></a>
          </li>
          <li>
            <a href="#slide3"></a>
          </li>
        </ul>

      </div>

      <main class="listado">

        <h1 class="h1--listproducts">Listado de productos</h1>

        <h2>Bebidas Blancas</h2>
        <section class="contenedor-lista">

          <% bebidasBlancas.forEach(product=>{%>

            <article>
              <img src="/images/<%= product.image %> " alt="">
              <h4>
                <%= product.title %>
              </h4>
              <p>
               $ <%= product.price %>
              </p>
              <button class="articulo-listProducts"><a href="/products/detail/<%= product.id %> ">Más info</a></button>
            </article>
            <% }) %>

        </section>

        <h2>Vinos</h2>
        <section class="contenedor-lista">
          <% vinos.forEach(product=>{%>

            <article>
              <img src="/images/<%= product.image %> " alt="">
              <h4>
                <%= product.title %>
              </h4>
              <p>
                $ <%= product.price %>
              </p>
              <button class="articulo-listProducts"><a href="/products/detail/<%= product.id %> ">Más info</a></button>
            </article>
            <% }) %>

        </section>

        <h2>Packs</h2>
        <section class="contenedor-lista">
          <% packs.forEach(product=>{%>

            <article>
              <img src="/images/<%= product.image %> " alt="">
              <h4>
                <%= product.title %>
              </h4>
              <p>
               $ <%= product.price %>
              </p>
              <button class="articulo-listProducts"><a href="/products/detail/<%= product.id %> ">Más info</a></button>
            </article>
            <% }) %>
        </section>
        

      </main>
      <!-- Footer -->

      <%- include('./partials/footer') %>

        <!-- Script -->
        <%- include('./partials/script') %>

  </body>

</html>