<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %>


  <body>
    <!-- Header -->
    <%- include('./partials/header') %>

      <main class="listado">

        <h1 class="h1--listproducts">Listado de productos</h1>

        
        <section class="contenedor-lista">

          <% productos.forEach(producto=>{%>

            <article>
              <img src="/images/<%= producto.imagen[0].file %>" alt="">
              <h4>
                <%= producto.title %>
              </h4>
              <p>
               $ <%= producto.price %>
              </p>
              <button class="articulo-listProducts"><a href="/products/detail/<%= producto.id %>">Más info</a></button>
            </article>
            <% }) %>

        </section>

       
        

        
      </main>
      <!-- Footer -->

      <%- include('./partials/footer') %>

        <!-- Script -->
        <%- include('./partials/script') %>

  </body>

</html>