<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %>

  <body>
    <!-- Header -->
    <%- include('./partials/header') %>
      <main class="main--admin">
        <% productos.forEach(producto=> { %>
          <h1>
            <%= producto.title %>

          </h1>
          <div class="contenedor--admin">

            <div class="caja--admin">

              <img src="/images/<%= producto.imagen[0].file %> " alt="">

            </div>
            <div class="caja--admin">
              <p><b>Id: </b>
                <%= producto.id %>
              </p>

              <p><b>Descripción: </b>
                <%= producto.description %>
              </p>
              <p> <b>Precio: </b>$
                <%= producto.price %>
              </p>
              <p> <b>Categoría: </b>
                <%= idCategory(producto.categoryId-1) %>
              </p>
              <p><b>Origen: </b>
                <%= idOrigen(producto.origenId-1) %>

              </p>
              <p><b>Sección: </b>
                <%=idSection(producto.sectionId-1) %>

              </p>
            </div>


            <div class="caja-adbtn">
              <div class="button--admin"><a id="button1" href="/products/edit/<%= producto.id %> "><button
                    class="button-1">
                    Editar
                  </button></a>

                <form action="/products/remove/<%= producto.id %>?method=DELETE" method="POST">
                  <button type="submit" class="button-2">Borrar</button>
                </form>

              </div>

            </div>


          </div>
          </div>

          <% }) %>
      </main>



      <!-- Footer -->

      <%- include('./partials/footer') %>

        <!-- Script -->
        <%- include('./partials/script') %>


  </body>

</html>