<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %>


    <body class="body--register">


        <!-- Header -->
        <%- include('./partials/header') %>


         
            <main>
                <div class="container--add">
                    <div class='caja--add'>
                        <h2>Editar producto</h2>
                        <form class='caja--add' action="/products/edit/<%#= product.id %> ?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div>
                                <label for="formGroupExampleInput" class="form-label">Marca</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" name="title" value=<%#= product.title %> >
                            </div>
                            <div>
                                <label for="floatingTextarea">Descripción</label>
                                <textarea class="form-control" id="floatingTextarea" name="description"><%#= product.description %> </textarea>

                            </div>
                            <div class='imagen--add'>
                                <label for=""> Seleccionar imagen de producto</label>
                                <input class="avatar" type="file" name="avatar" accept=".jpg" required value="<%#= product.image %> ">

                            </div>

                            <div>
                                <label for="category" class="form-label" name="category">Categoría</label>

                                <select id="category" class="form-select" name="category">
                                    <%# categories.forEach(category=> { %>
                                        <option value="<%#= category %> "<%#= category %> <%#= category == product.category ? 'selected': null%> ><%= category %>  </option>
                                        <%# }) %>
                                </select>

                                <label for="origen" class="form-label" name="origen">Origen</label>
                                <select id="origen" class="form-select" name="origen">
                                    <%# origenes.forEach(origen=> { %>
                                        <option value="<%#= origen %> "<%#= origen %> <%#= origen == product.origen ? 'selected': null%> ><%= origen %>  </option>


                                        <%# }) %>
                                </select>
                                <div>
                                    <label for="formGroupExampleInput2" class="form-label">Precio</label>
                                    <input type="number" class="form-control" id="formGroupExampleInput2" name="price" value=<%#= product.price %> >
                                </div>
                            </div>
                            <button class="button--add" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </main>
            <!-- Footer -->

            <%- include('./partials/footer') %>

                <!-- Script -->
                <%- include('./partials/script') %>

</html>