<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %>

  <body>
    <!-- Header -->
    <%- include('./partials/header') %>


      <main class="productDetail">
        <h4><%= idCategory(products.categoryId-1) %> > <%= products.title %> </h4>
        <article>
          <img src="/images/<%= products.imagen[0].file %>" alt="">
        </article>
        <h1>
          <%= products.title %> 
        </h1>
        <!-- <h3>
    Detalle de producto/informacion
  </h3> -->
        <p class="detalle"><%= products.description %> </p>
        <p clas="detalle"><%= idOrigen(products.origenId-1) %> </p>
        <div class="contenedor">
          <p class="precio"> <%= products.price.toFixed(2) %>  </p> 
          <a href="/products/cart"><button class="boton">comprar</button></a>
        </div>

  
           
  </body>
  </main>
  <!-- Footer -->

  <%- include('./partials/footer') %>

    <!-- Script -->
    <%- include('./partials/script') %>


      </body>

</html>