<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %> 


<body class="body--register">


  <!-- Header -->
 <%- include('./partials/header') %> 


  <div class="container-fluid">

    <ul class="slider">
      <li id="slide1">
        <img src="/images/carousel-1.jpg" alt="">


      </li>
      <li id="slide2">
        <img src="/images/carousel-2.jpg" alt="">

      </li>
      <li id="slide3">
        <img src="/images/carousel-3.jpg" alt="">

      </li>
    </ul>

    <ul class="menu">
      <li>
        <a href="#slide1"></a>
      </li>
      <li>
        <a href="#slide2"></a>
      </li>
      <li>
        <a href="#slide3"></a>
      </li>
    </ul>

  </div>
  <main>
    <nav class="container--register">
      <div class="caja--register">
        <form class="caja--register" novalidate method="POST" enctype="multipart/form-data">

          <h4 class="h4--register">CREAR CUENTA</h4>
          <p class="register--responsive">Comprá más rápido y llevá el control de tus pedidos, ¡en un solo
            lugar!</p>
          <input type="text" name="nombre" placeholder="  NOMBRE" value="<%= locals.old && locals.old.nombre ? old.nombre : null%>">
          <span class="text-danger small"><%= locals.errores && locals.errores.nombre ? errores.nombre.msg : null %> </span>
          <input type="text" name="apellido" placeholder="  APELLIDO" value="<%= locals.old && locals.old.nombre ? old.nombre : null%>" >
          <span class="text-danger small"><%= locals.errores && locals.errores.apellido ? errores.apellido.msg : null %> </span>
          <label for=""> Seleccionar imagen de Perfil</label>
          <input class="profile-pic" type="file" name="profilePic" accept=".jpg">
          <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="  EMAIL" >
          <span class="text-danger small"><%= locals.errores && locals.errores.email ? errores.email.msg : null %> </span>
          <input type="password" name="password" placeholder=" CONTRASEÑA" >
          <span class="text-danger small"><%= locals.errores && locals.errores.password ? errores.password.msg : null %> </span>
          <input type="password"  id="exampleInputPassword2" name="password2"  placeholder="  REINGRESE CONTRASEÑA">
          <button type="submit"> REGISTRARME </button>
          <p>¿Ya tienes una cuenta? <a href="/users/login">Inicia sesión</a></p>
          <a href=""></a>
        </form>


      </div>
    </nav>


  </main>
   <!-- Footer -->

   <%- include('./partials/footer') %> 

   <!-- Script -->
   <%- include('./partials/script') %> 
</body>

</html>